<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.sipv">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_REMOTE_MESSAGING" />
    <application android:extractNativeLibs="true">
        <service 
            android:name=".OracleWrapper"
            android:foregroundServiceType="remoteMessaging"
            android:exported="false" />
    </application>
</manifest>
